.action-icon a {
    font-size: 20px;
    padding: 5px;
    transition: all 0.5s ease;
}

.action-icon a:hover {
    background: #becfeb;
}

.swal2-cancel {
    margin-right: 10px !important;
}

.card {
    overflow: auto;
    border-radius: 10px;
}

  .column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 150px;
    width: 400px;
    height: 80vh;
}
.column p {
    display: flex;
     width: 400px;
}